/* 
Name: James Smith
Date: 7/27/2021
CSD 340
bioSite
*/
html {
    background-color: #FFFFC2;
}
body {
    font-family: 'Ubuntu', sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

hr {
    border-color: #FFC5CB;
}

h2 {
    background-color: #72FCEF;
    color: black;
    padding: 10px;
}

h3 {
    background-color: #95CCA2;
    text-align: center;
}

header {
    overflow: hidden;
    position: relative;
    top:0;
    width:100%;
    /*padding-bottom: 10px;*/
    display: inline-block;
    background-color: #72FCEF;
    height: 80px;
}

header h1 {
    float: left;
    color: black;
    padding-left: 10px;
    vertical-align: middle;
}

#head-navbar {
    float: right;
    height: 100%;
    padding: 10px;
    vertical-align: middle;
}

#head-navbar a {
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 20px 16px;
    text-decoration: none;
    height: 100%;
}

#head-navbar a:hover {
    background-image: linear-gradient(#72FCEF, #FFC5CB, #72FCEF);
    color: white;
}

#footer {
    overflow: hidden;
    position: relative;
    bottom:0;
    width:100%;
    padding-top: 10px;
    display: inline-block;
    background-color: #72FCEF;
    border-top: solid 15px #FFC5CB;
    height: auto;
}


#foot-navbar {
    width: 90%;
    text-align: center;
    position: relative;
    display: inline-block;
}

#foot-navbar a {
    color: black;
    text-align: center;
    position: relative;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    padding: 0 16px;
}

#foot-navbar a:hover {
    color: white;
}

#foot-navbar a::before {
    content: " / ";
    position: absolute;
    right: 0;
    top: 0; 
    padding-left: 3px;
    background-color: #72FCEF;
    color: black;
}

#foot-navbar a:last-child::before {
    display: none;
}

#footer p {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-right: 10px;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
  }

figcaption {
    display: block;
    text-align: center;
    padding: 10px;
  }